<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" align="center">
		  <h3><b>New Address</b></h3>

		  <%= form_for(@address, :url => myaccount_addresses_path(@address), html: {class: 'custom'}) do |f| %>
		    <%= render :partial => 'form', :locals => {:f => f} %>
		  <% end %>
		  <div align="center">
		    <%= link_to 'Back to List', myaccount_addresses_path, :class => 'btn btn-default' %>
		  </div>
		</div>
	</div>
</div>
