<h1>Edit Address</h1>

<%= form_for(@form_address, url: market_places_shopping_address_path(@form_address, contractor_context), html: {class: 'custom'}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', market_places_shopping_addresses_path(contractor_context) %>
