<div class="container-fluid" id="image-footern">
  <div class="">
    <div id="footer-img">
      <div class="jumbotron-footer">
        <%= image_tag 'openbuild/bg-img.jpg', width:'100%'%>
      </div>
    </div>
  </div>
</div>

<div id="footer" class="text-center">
  <div class="container">
    <div class="row"><br>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <a> &copy 2016 </a>
        <span class="span-footer hidden-xs"><b>.</b></span>
        <a href="<%= terms_path %>"> Terms & Conditions </a>
        <span class="span-footer hidden-xs"><b>.</b></span>
        <a href="#"> FAQ </a>
        <span class="span-footer hidden-xs"><b>.</b></span>
        <a href="#"> Advertisers </a>
        <span class="span-footer hidden-xs"><b>.</b></span>
        <a href="<%= about_path %>"> About Us </a>
        <span class="span-footer hidden-xs"><b>.</b></span>
        <a href="#"> Privacy </a>
        <span class="span-footer hidden-xs"><b>.</b></span>
        <a> Find us on </a>
        <a href="https://www.facebook.com/openbuild.co/" class="a-footer"><i class="fa fa-facebook i-footer " style="margin: 0 10px;"></i></a>
        <a href="#" class="a-footer"><i class="fa fa-twitter i-footer" style="margin: 0 10px;"></i></a>
        <a href="#" class="a-footer"><i class="fa fa-pinterest i-footer" style="margin: 0 10px;"></i></a>
        <a href="#" class="a-footer"><i class="fa fa-fa fa-google-plus i-footer" style="margin: 0 10px;"></i></a>
      </div>
    </div>
  </div>
</div>