<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" align="center">
		  <h3><b>Edit Your Profile</b></h3>

		  <%= form_for current_user, :url => myaccount_overview_path, :method => 'PUT' do |f| %>
		    <%=  render :partial => 'form', :locals => {:f => f} %>
		  <% end %>
		</div>
	</div>
</div>
